<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>

  <body ng-app="testApp" ng-controller="AboutCtrl" >
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container">
      <md-content class="navbar-default navbar-fixed-top">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings">
              <md-icon md-svg-icon class="glyphicon glyphicon-th-list" ng-click="toggleLeft()" hide-gt-md style="font-size: 20px;"></md-icon>
            </md-button>
            <h2>
              <span>ResLife</span>
            </h2>
            <span flex></span>
          </div>
        </md-toolbar>
      </md-content>

      <div layout="column" style="height:auto;">
        <section layout="row" flex ng-controller="LeftCtrl">
          <md-sidenav style="z-index: 9999;" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
            <md-toolbar class="md-theme-indigo">
              <h1 class="md-toolbar-tools"> Menu <i class="glyphicon glyphicon-remove closeIcon"  ng-click="close()"></i></h1>
            </md-toolbar>
            <md-content layout-padding>
              <a ng-href="#/main"> <h4 ng-click="close()" class="menuList"> <i class="glyphicon glyphicon-list-alt menuIcon"></i> Events </h4></a>
              <a ng-href="#/announcement"><h4 ng-click="close()" class="menuList"> <i class="glyphicon glyphicon-bullhorn menuIcon"></i> Announcements </h4></a>
              <a ng-href="#/about"><h4 ng-click="close()" class="menuList"> <i class="glyphicon glyphicon-calendar menuIcon"></i> Calendar </h4></a>
              <a ng-href="#/todo"><h4 ng-click="close()" class="menuList"> <i class="glyphicon glyphicon-ok menuIcon"></i> To-Do List </h4></a>
              <a ng-href="#/contact"><h4 ng-click="close()" class="menuList"> <i class="glyphicon glyphicon-earphone menuIcon"></i> ResLife Contact </h4></a>
            </md-content>
          </md-sidenav>  
        </section>
        <div ng-view=""></div>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/idbwrapper/idbstore.js"></script>
    <script src="bower_components/angularjs-indexedDB/src/indexeddb.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/announcement.js"></script>
        <script src="scripts/controllers/contact.js"></script>
        <script src="scripts/controllers/todo.js"></script>
        <!-- endbuild -->
</body>
</html>
